@use './variables' as *;

// Dimension

.vh_100_without_header {
    min-height: calc(100vh - 70px) !important;
}

// Color 


.bg_carbon {
    background-color: $clr_carbon;
}

.bg_pitch {
    // background-color: $clr_pitch;
    background: rgb(15, 15, 15);
    background: linear-gradient(146deg, rgba(15, 15, 15, 1) 0%, rgba(24, 41, 41, 1) 100%);
}

.bg_pomegranate {
    background-color: $clr_pomegranate !important;

}


.text_cloudy {
    color: $clr_cloudy;
}

.text_fire {
    font-weight: 600 !important;
    background: linear-gradient(to right, #ffffff, #b6b5b5) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
    // text-shadow: 0 0 1px $clr_cloudy;

}


//shadows

.strong_shadow {
    filter: drop-shadow(3px 3px 1px black);
}




//not specific utilities

.no_decoration {
    text-decoration: none !important;
}

//changes to bootstrap class 

.dropdown-item:active {
    background-color: rgb(99, 0, 0) !important;
}